<div class="container">
  <div class="row">
    <div class="col-12 text-center title">
      <h1>新規登録画面</h1>
    </div>
    <div class="col-12 mt-3 content">
      <%= form_with model: @time_slot ,local: true, class: 'form' do |form| %>
      <div class="day form-group">
        <%= form.label :date, '日付' %>
        <%= form.text_field :date, class: 'form-control', value: @date, readonly: true %>
      </div>
      <div class="time form-group">
        <%= form.label :start_time, '時間' %>
        <%= form.text_field :start_time, class: 'form-control', value: @start_time, readonly: true %>
      </div>
      <%= form.hidden_field :financial_planner_id, value: current_financial_planner.id %>
      <div class="submit">
        <%= form.submit value: '登録する', class: 'btn btn-primary mx-auto d-block' %>
      </div>
    <% end %>
    <div class="col-12 text-right">
      <%= link_to '戻る', financial_planners_path %>
    </div>
    </div>
  </div>
</div>
