<div class="simple-calendar">
  <div class="calendar-heading">
    <%= link_to t('simple_calendar.previous', default: '前週'), user_week_calendar.url_for_previous_view%>
    <% if user_week_calendar.number_of_weeks == 1 %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: '1週間') %></span>
    <% else %>
      <span class="calendar-title"><%= t('simple_calendar.week', default: '1週間') %></span>
    <% end %>
    <%= link_to t('simple_calendar.next', default: '翌週'), user_week_calendar.url_for_next_view %>
    <% time_slots = TimeSlot.available_appointment_time_slots %>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>時間</th>
        <% user_week_calendar.date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% user_week_calendar.date_range.each_slice(7) do |week| %>
        <tr>
          <td></td>
          <% week.each do |day| %>
            <%= content_tag :td, class: user_week_calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <%= day.strftime("%m/%d") %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
        <% TimeSlot::SLOT_TIMES.each do |time| %>
          <tr>
            <td><%= time %></td>
            <% week.each do |day| %>
              <td>
                <% if day.wday != 0 %>
                  <% if day.wday == 6 && TimeSlot::EXCLUDE_TIMES.include?(time)%>
                    <%= '×' %>
                  <% elsif TimeSlot.appointment_time_slot_available?(time_slots, day, time) %>
                    <%= link_to new_user_appointment_path(date: day, start_time: time, user_id: current_user.id) do %>
                      <%= '◯' %>
                    <% end %>
                  <% else %>
                    <%= '×' %>
                  <% end %>
                <% else %>
                  <%= '×' %>
                <% end %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
