<nav>
  <%= link_to 'ホーム', financial_planners_path %>
  <%= link_to 'マイページ', edit_financial_planner_registration_path %>
  <%= link_to t("ログアウト"), destroy_financial_planner_session_path, data: { turbo_method: :delete } %>
</nav>

<div class="container">
  <%= alert %>
  <div class="row">
    <div class="col-12 text-center">
      <h1>登録画面</h1>
      <p>3ヶ月先まで登録することができます。</p>
    </div>
    <div class="col-12 mt-3">
      <%= week_calendar(number_of_weeks: 1) do |date| %>
        <%= date.day %>
        <br>
        <% if date.wday != 0 %>
        <%= link_to destroy_all_time_slots_path(date: date, financial_planner_id: current_financial_planner.id), data: { confirm: '本当にリセットしますか？', turbo_method: :delete } do  %>
          <button class="btn btn-danger">リセット</button>
        <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>