<nav>
  <%= link_to 'ホーム', financial_planners_path %>
  <%= link_to 'マイページ', edit_financial_planner_registration_path %>
  <%= link_to t("ログアウト"), destroy_financial_planner_session_path, data: { turbo_method: :delete } %>
</nav>

<div class="container">
  <div class="row">
    <div class="col-12 text-center">
      <h1>予約画面</h1>
      <p>3ヶ月先まで予約することができます。</p>
    </div>
    <button type="button" class="btn btn-danger dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
      Action
    </button>
    <div class="col-12 mt-3">
      <%= week_calendar events: @time_slots do |date, time_slots| %>
        <%= date.day %>
      <% end %>
    </div>
  </div>
</div>