<!DOCTYPE html>
<html>
  <head>
    <title>Myapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= yield %>

    <%# ------ Toastr ----- %>
    <% if flash.any? %>
    <script type="text/javascript">
        <% flash.each do |key, value| %>
        <% key = "success" if key == "notice" %>
        <% key = "error" if key == "alert" %>
        <% key = "error" if key == "warn" %>
        toastr['<%= key %>']('<%= value %>');
        <% end %>
    </script>
    <% end %>
    <%# ------ Toastr ----- %>
  </body>
</html>
